#searchForm {
    position: relative;
}

#searchForm input {
    border-radius: 14px;
    height: 3.5rem;
    border: solid 1.5px #5498FF;
    width: 100%;
    padding: 1rem 3rem 1rem 3.5rem;
    background-image: url('../assets/icon_search.png');
    background-repeat: no-repeat;
    background-position: 1.3rem center;
    color: #767676;
    font-weight: 590;
    font-size: 1.1rem;
}

#searchForm button {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.3rem;
    display: flex;
}

.locations {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.2rem;
    padding-bottom: 1.5rem;
}

.locations::-webkit-scrollbar {
  display: none;
}