@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard';
    font-weight: 600;
}

html, body {
    height: 100%;
}

#root {
    display: flex;
    justify-content: center;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    min-width: 320px;
    width: 100%;
    height: 100%;
    position: relative;
}

.header {
    display: flex;
    padding: 1.5rem 2rem;
    align-items: baseline;
}

.header img {
    height: 4.5vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 0;
    height: 100%;
    overflow: auto;
}

.main:has(.mainPage, .sharePage, .loadingPage) {
    height: calc(100% - 5vh - 5rem - 4rem);
}

.content {
    height: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.pageTitle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pageTitle h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.pageTitle p {
    color: #767676;
    font-size: 0.9rem;
}

.buttons {
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 30%);
}

.buttons > p {
    color: #5498FF;
    font-size: 0.7rem;
}